
{% extends 'grahouglo/base.html' %}
{% load static %}

{% block content %}


<section id="intro" class="new-p">
    <div class="home-top">

        <div class="grahou2">
        <div class="grahou">
            <h2 data-text="grahouglo">Grahouglo</h2><br>
        </div>
        <p>CUSTOMIZED SOFTWARE SOLUTIONS FOR YOU & YOUR BUSINESS. <span>The Web is our playground</span></p>
        </div>
    
    
    
        <!--------------------image anime---------------------------->
        <div class="anime-row">
            <div class="col-1">
                <img class="elements1" src="{% static 'grahouglo/images/anime/a.png' %}" alt="">
                <img class="elements2" src="{% static 'grahouglo/images/anime/aa.png' %}" alt="">
                <img class="elements3" src="{% static 'grahouglo/images/anime/aaa.png' %}" alt="">
            </div>
    
        </div>

    </div>



</section><br>





<section class="new-p" id="services">
    <center><topic>SERVICES</topic></center>

  <div class="container1">
      <div class="card1">
          <div class="box">
              <div class="content">
                  
                  <h2>01</h2>
                  <h3>Web Development</h3>
                  <p>We take pride in crafting cutting-edge websites 
                    that not only captivate users but also deliver 
                    seamless functionality and exceptional user 
                    experiences. Our team of skilled web developers possesses the 
                    expertise to create custom solutions tailored to your unique business needs. 
                  </p>          
                  <a id="open1">Read More</a>
              </div>
          </div>
      </div>
  
      <div class="card1">
          <div class="box">
              <div class="content">
                  
                  <h2>02</h2>
                  <h3>Custom Sofware</h3>
                  <p>Our team of talented developers and engineers excels at creating tailor-made 
                    applications that perfectly align with your specific requirements, streamlining 
                    your processes and driving productivity to new heights.
                  </p>
                  <a id="open2">Read More</a>
              </div>
          </div>
      </div>
  
      <div class="card1">
          <div class="box">
              <div class="content">
                  <h2>03</h2>
                  <h3>Mobile Development</h3>
                  <p>Empowering businesses to thrive in the mobile-first world, our expert team 
                    of developers designs and delivers cutting-edge mobile applications that captivate 
                    users and drive growth. From Android to iOS and cross-platform solutions, we tailor 
                    our approach to match your unique vision and business objectives. 
                  </p>
                  <a id="open3">Read More</a>
              </div>
          </div>
      </div>
  </div>

  <div class="container1-popup">


            <div class="popup-container" id="popup_container">
            <div class="popup">
                <center><h1>Web Development</h1></center>
                <p>We take pride in crafting cutting-edge websites that not only 
                    captivate users but also deliver seamless functionality and exceptional user experiences. 
                    Our team of skilled web developers possesses the expertise to create custom solutions tailored 
                    to your unique business needs. From responsive and mobile-friendly designs to robust backend 
                    systems, we ensure that your online presence stands out from the crowd. Whether you require a 
                    sleek e-commerce platform, a dynamic corporate website, or an engaging web application, our 
                    commitment to delivering high-quality, scalable, and secure solutions remains unwavering. 
                    Partner with us and let your vision come to life in the digital realm. Your success is our mission.</p>
                <center><button id="close1"> Close Now</button></center>
            </div>
            </div>

            <div class="popup-container" id="popup_container2">
            <div class="popup">
                <center><h1>Custom Software</h1></center>
                <p>Our team of talented developers and engineers excels at creating tailor-made applications that 
                    perfectly align with your specific requirements, streamlining your processes and driving 
                    productivity to new heights. Whether you seek innovative mobile apps, intricate enterprise 
                    software, or cutting-edge cloud solutions, we are dedicated to delivering excellence through 
                    every line of code. Embracing the latest technologies and industry best practices, we ensure 
                    your software is not only powerful and scalable but also user-friendly and intuitive. 
                    Partner with us today, and let us shape the future of your business together through our 
                    unparalleled custom software development expertise. Your success is our ultimate motivation.</p>
                <center><button id="close2"> Close Now</button></center>
            </div>
            </div>

            <div class="popup-container" id="popup_container3">
                <div class="popup">
                    <center><h1>Mobile Development</h1></center>
                    <p>Empowering businesses to thrive in the mobile-first world, our expert team of developers designs 
                        and delivers cutting-edge mobile applications that captivate users and drive growth. 
                        From Android to iOS and cross-platform solutions, we tailor our approach to match your 
                        unique vision and business objectives. With a keen eye for detail and a passion for innovation, 
                        we create seamless, user-friendly experiences that leave a lasting impact. Whether you need a 
                        dynamic e-commerce app, an interactive social platform, or a robust enterprise solution, our 
                        mobile development expertise is second to none. Join us on this transformative journey and 
                        embrace the power of mobile technology to reach new heights of success. Let's build your mobile future together.</p>
                    <center><button id="close3"> Close Now</button></center>
                </div>
                </div>

    
    </div>

  </section>


  <section class="new-p" id="stack">
   <center><topic>TECH STACK</topic></center>
    <div class="container2">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="top1">
                        <h2>Client-Side</h2>
                    </div>
                    <h3>HTML - CSS - SCSS- JS - REACT</h3>
                </div>
            </div>
            <div class="face face2 ">
                <div class="content">
                    <div class="top2">
                        <h2>Server-Side</h2>
                    </div>
                    <h3>Python - Django - Node.js- PHP</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="top1">
                        <h2>Database</h2>
                    </div>
                    <h3>MySQL - PostgreSQL - Oracle</h3>
                </div>
            </div>
            <div class="face face2 ">
                <div class="content">
                    <div class="top2">
                        <h2>Server-Side</h2>
                    </div>
                    <h3>AWS - Azure - Digital Ocean</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="top1">
                        <h2>Deployment</h2>
                    </div>
                    <h3>Heroku - Vercel - Python Anywhere</h3>
                </div>
            </div>
            <div class="face face2 ">
                <div class="content">
                    <div class="top2">
                        <h2>Cloud</h2>
                    </div>
                    <h3>Docker - AWS - Azure</h3>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="new-p" id="contact">
    <center><topic>CONTACT US</topic></center>

    <div class="form-container" >
        <div class="form-c">
            <center><h2>A MESSAGE AWAY FROM MAGIC</h2></center>
            <hr/><br>
            <form method="post">
                <form action="" method=POST>  
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    
                    <br>
                    <center><button type="submit"  id="close3"> SUBMIT</button></center>
                    </form>
            </form>
        </div>
        </div>
    </section>

















{% endblock %}
