{% load static %}
<!-- nav bar-->


<nav class="nav">
    <i class="uil uil-bars navOpenBtn"></i>
    <a href="#" class="logo"><img src="{% static 'grahouglo/images/logo.png' %}" alt=""></a>
    <ul class="nav-links">
      <i class="uil uil-times navCloseBtn"></i>
      <li><a href="#intro">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#stack">Tech Stack</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
    <i class="uil uil-search search-icon" id="searchIcon"></i>
  
  </nav> <br><br><br><br>